.header {
    background-color: rgba(137, 164, 208, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;

}

h1 {
    padding-bottom: 30px;
}

.search {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    max-width: 600px;
    width: 100%;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
}

.filter {
    padding: 4px 10px;
    border-radius: 5px;
    width: 250px;
    background-color: white;
}

.none {
    display: none;
}
